## Pré-processamento
- Dataset usado: https://www.kaggle.com/datasets/saurabhshahane/fake-news-classification
- 0 é fake e 1 é real

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk
from sklearn.utils import resample

In [ ]:
# Lê o Dataset
df = pd.read_csv('../data/WELFake_Dataset.csv')
df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [ ]:
# Remove a primeira coluna do dataframe
df = df.drop(df.columns[0], axis=1)
df.head()

,title,text,label
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,NaN,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [ ]:
# total de linhas do dataframe
df.shape[0]

72134

### Remoção de linhas nulas

In [ ]:
# O método "sum()" soma os valores booleanos em cada coluna, contando quantos valores nulos existem

df.isnull().sum()

title    558
text      39
label      0
dtype: int64

In [ ]:
# Remove linhas nulas
df = df.dropna()

df.isnull().sum()

title    0
text     0
label    0
dtype: int64

In [ ]:
# total de linhas do dataframe
df.shape[0]

71537

### Checa e remove linhas repetidas

In [ ]:
# Conta as linhas duplicadas
df.duplicated().sum()

np.int64(8416)

In [ ]:
# Remove as linhas duplicadas
df = df.drop_duplicates()

# Total de linhas atualizado
df.shape[0]

63121